**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.vs
**/bin
**/obj
**/.vscode
**/*.user
**/*.suo
**/*.log
**/build.log
**/build*.log
**/*.ps1
**/node_modules
**/docker-compose*.yml
**/Dockerfile*
**/.idea
**/Thumbs.db
**/.DS_Store
